@font-face {
  font-family: "SF-Display";
  src: url("font/SFDisplay-Thin.otf") format("opentype"); }
#container {
  text-align: center; }
  #container #pic187 img {
    width: 35%; }
  #container #picFakeScreen img {
    width: 55%; }
  #container #paragraph {
    position: relative; }
    #container #paragraph p {
      font-family: "SF-Display";
      font-size: 7vw;
      color: #6601ff; }
      #container #paragraph p a {
        font-size: 80%;
        text-decoration: none;
        color: #6601ff; }
        #container #paragraph p a:visited {
          text-decoration: none; }
        #container #paragraph p a:hover {
          text-decoration: underline;
          color: #a187c7; }
        #container #paragraph p a:active {
          text-decoration: underline;
          color: #a187c7; }
    #container #paragraph #degrade {
      position: absolute;
      width: 100vw;
      height: 5vh;
      background: linear-gradient(to top, rgba(192, 192, 192, 0.2), rgba(255, 255, 255, 0.2));
      /* Standard syntax */
      bottom: -2vh; }

#menu {
  margin-top: 3vh;
  text-align: center; }

/*# sourceMappingURL=landing-page.css.map */
